requests
numpy
tensorflow
pillow
tensorflow-serving-api
transformers
diffusers
flask
keras>=3.12.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability